/.env
/.env.*
!/.env.example
/.vscode/

/vendor/
/node_modules/
/public/hot
/npm-debug.log
/yarn-error.log
/.phpunit.result.cache

/bootstrap/cache/*
!/bootstrap/cache/.gitignore

/storage/*.key
/storage/app/*
!/storage/app/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore

*.bak
*.backup
*.db
*.dump
*.key
*.pem
*.p12
*.pfx
*.sql
*.sqlite
